/* div {
    padding: 10px;
    text-align: center;
}

#contain {
    background-color: #f5f5f5;
    margin: 0 auto;
}

#header {
    background-color: beige;
    height: 100px;
}

#content {
    background-color: aquamarine;
    width: 640px;
    height: 400px;
    float: left;
}

#aside {
    background-color: rgb(142, 170, 161);
    width:280px;
    height: 400px;
    float: right;
}
#footer {
    clear: both;
    height: 100px;
    background-color: violet;
} 
*/
nav {
    float: right;
    transform: translateY(-10px);
}
nav ul li {
    list-style: none;
    float: left;
}
nav ul li:not(:last-of-type)::after {
    content: "|";
}
li a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
}
li a:hover {
    color: #908886;
}
div, section, header, aside, footer {
    padding:10px;
  }
  div#container	{ 
    background-color:#F0F0F0; 
    width:960px; 
    margin:0 auto;
  }
  header {
    background-color:#908886; 
    height:100px; 
  }
  section#content	{
    background-color:#F5F5F5; 
    float:left; 
    width:640px;
    height:500px; 
  }
  aside {
    background-color:#DCDAD9; 
    float:right; 
    width:280px; 
    height:500px; 
  }
  footer {
    background-color:#555555; 
    clear:both;  
    text-align:center;
    padding-bottom: 30px;
  }
  footer h3	{
    text-align: left;
  }
  section#content	{
    background-color:#F5F5F5; 
    /* float:left;  */
    display: inline-block;
    width:640px;
    height:500px; 
    vertical-align: top;
  }