#gallery {
  width: 500px;
  height: 200px;
  background-color: rgb(54, 53, 56);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 8px solid black;
}
ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}
ul li {
  display: inline-block;
  position: relative;
}
.small {
  z-index: 0;
}
.pic {
  position: absolute;
  visibility: hidden;
  width: 400px;
  height: 300px;
}
.small:hover + * {
  border: 3px solid black;
  visibility: visible;
  z-index: 10;
  left: 100px;
  top: 70px;
}